:local(.styles) {
  label {
    margin: 3px 0 7px;
  }

  input {
    width: 38px; height: 30px;
    background: white;
    border: 1px solid #CCCCCC;
    font-family: 'Glyphicons Halflings';
    font-size: 28px;
    margin-top: 0 !important;
  }

  .row {
    margin-left: 20px;
  }

  button.remove {
    position: relative;

    margin-left: 25px;

    font-size: 8px;
    color: black;

    &:hover {
      color: red;
    }
  }
}
